.info {
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(142,148,156);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(209, 213, 219, 0.85);
    border: 3px solid rgb(142, 148, 156);
    position: absolute;
    bottom:30px;
    right:30px;
    cursor: pointer;
    font-size: large;
}

.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: large;
}

.info-box {
    position: absolute;
    padding: 30px;
    height: 70%;
    width: 50%;
    z-index: 10;
    background-color:rgb(255, 255, 255);
    border: 3px solid rgb(142,148,156);
    border-radius: 10px;
    overflow-y: auto;
}

.content {
    margin-top: 30px;
    text-align: justify;
}